.list-connected,
.list-connected > li {
    position: relative;
}

.list-connected > li {
    list-style-type: none;
}

.list-connected > li::before {
    position: absolute;
    content: " ";
    width: 22px;
    height: 22px;
    border-radius: 50%;
    left: -35px;
}

.list-connected.list-connected-warning > li::before,
.list-connected.list-connected-warning > li::after {
    background-color: $yellow;
}

.list-connected > li::after {
    position: absolute;
    content: " ";
    width: 2px;
    height: 100%;
    top: 10px;
    left: -25px;
}

.list-connected.list-connected-warning > li:last-child::after {
    background-color: transparent;
}
