<!doctype html>
<html lang="{{ app.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Václav Cenker</title>
    <link href="{{ asset('css/main.min.css') }}" rel="stylesheet">
</head>
    <body>
        {% block content %}{% endblock %}
    </body>
<html>
